.chartContainer {
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #dcdada;
  }
  
  .title {
    font-size: 17px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
  }