/* Import font modern */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc; 
  color: #1e293b;
}

.layout-container {
  display: flex;
  min-height: 100vh;
}

.content {
  padding: 25px;
  flex: 1;
  overflow-y: auto;
  
}