.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dcdada;
  }

  .iconLabel{
    display:flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 2px;
  }
  
  .iconBox {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f172a;
  }
  
  .label {
    font-size: 14px;
    color: black;
    margin-bottom: 2px;
    display: block;
    font-weight: 500;
  }
  
  .value {
    font-size: 24px;
    font-weight: 500;
    color: black;
  }